body {
  background-color: #9266ff;
}

.App {
  background-color: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  overflow: auto;
}

h2 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  margin-top: 10px;
  padding: 15px;
}

 @media(min-width: 1000px) and (min-height: 700px) {
  .App {
     min-height: 500px;
    width: 400px;
  }  
}





@media screen and (max-width: 500px) {
  .App {
      height: 400px;
      min-width: 400px;
  }  
}
@media screen and (max-width: 360px) {
  .App {
      height: 400px;
      min-width: 350px;
  }  
}

/* @media(min-width: 300px) and (min-height: 401px) {
  .App {
      height: 400px;
      width: 300px;
  }  
} */